<!DOCTYPE html>
<html>
<head>
	<title>Climate change, not fake news</title>
	<!-- for mobile-responsiveness -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS reset file -->
	<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
	<!-- CDN for Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--Custom CSS-->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body>
	
	<div class = "container-fluid">
		<div class = "row">
			<div class = "jumbotron text-center">
				<h1 id = "header-text">Climate site</h1>
				<h5 id = "header-text">This is from main.handlebars</h5>	
			</div>
		</div>
	</div>

	{{{ body }}}
	

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<!-- Bootstrap javascript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Google Charts JS -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<!-- Custom JS -->
	<script src = "/assets/js/landing-page.js"></script>
	<script src = "/assets/js/geoChart.js"></script>
</body>
</html>