
<div class = "container">
	<h1>Errors occurred while registering:</h1>

	{{#if errors}}
		{{#each errors}}
			<div class="alert alert-danger" role="alert">
			{{this.msg}}
			</div>
		{{/each}}
	{{/if}}
<h1><a href="/new-user">Try again</a></h1>

</div>