<nav class="navbar navbar-inverse navbar-fixed-center" style="background-color:#004080" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" style="background-color:#004080">
          <li class="active" ><a href="/" style="background-color:#142952">Home</a></li>
          <li><a href="https://github.com/jaylesh27/climate-site" target="_blank">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Register</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
          <div class="col-lg-12">
            <div class="text-center">
              <h3><b>Log In</b></h3>
            </div>
            <form id="ajax-login-form" style="width:300px;" role="form" autocomplete="off">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-7">
                  <input type="checkbox" tabindex="3" name="remember" id="remember">
                  <label for="remember">Remember Me</label>
                </div>
                <div class="col-xs-5 pull-right">
                  <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                </div>
              </div>
            </div>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

<p><center> Answer these questions to figure out your Carbon Footprint. </center></p>
<form class="create-update-form" action="/survey" method="POST">
<div class ="form-group">
    <label for = "username">Username (must be between 4 and 80 characters)</label>
    <input type = "text" name = "username" class = "form-control" placeholder = "username">
  </div>
  <div class ="form-group">
    <label for = "password">Password (must be between 8 and 20 characters)</label>
    <input type = "password" name = "password" class = "form-control" placeholder = "password">
  </div>
  <div class ="form-group">
    <label for = "passwordMatch">Re-enter Password</label>
    <input type = "password" name = "passwordMatch" class = "form-control" placeholder = "password">
  </div>
<fieldset>


<!-- Form Name -->
<legend>How much is spent on the following utilities per month: 
</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Electricity </label>
  <td class="align-middle">per month</td>
  <div class="col-md-4">
  <input id="electric" name="electric" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Propane</label> 
  <td class="align-middle">per month</td> 
  <div class="col-md-4">
  <input id="propane" name="propane" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Fuel Oil</label>
  <td class="align-middle">per month</td>
  <div class="col-md-4">
  <input id="fuelOil" name="fuelOil" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Natural Gas">Natural Gas</label>  
  <td class="align-middle">per month</td>
  <div class="col-md-4">
  <input id="natgas" name="natgas" type="text" placeholder="" class="form-control input-md" required="">
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Help</button>
  </div>
</div>
</fieldset>


<fieldset>

<!-- Form Name -->
<legend>Transportation</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Car</label>  
  <td class="align-middle">mileage per year</td>
  <div class="col-md-4">
  <input id="car1mileage" name="car1mileage" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <td class="align-middle">mpg</td>
  <div class="col-md-2">
  <input id="car1mpg" name="car1mpg" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Car 2</label>  
  <td class="align-middle">mileage per year</td>
  <div class="col-md-4">
  <input id="car2mileage" name="car2mileage" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label> 
  <td class="align-middle">mpg</td> 
  <div class="col-md-2">
  <input id="car2mpg" name="car2mpg" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Car 3</label>  
  <td class="align-middle">mileage per year</td>
  <div class="col-md-4">
  <input id="car3mileage" name="car3mileage" type="text" placeholder="" class="form-control input-md">
    </div>
    </div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <td class="align-middle">mpg</td>
  <div class="col-md-2">
  <input id="car3mpg" name="car3mpg" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Public Transportation</label>  
  <td class="align-middle">mileage per year</td>
  <div class="col-md-4">
  <input id="publicMileage" name="publicMileage" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Air Travel</label> 
  <td class="align-middle">mileage per year</td> 
  <div class="col-md-4">
  <input id="airmileage" name="airmileage" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="helpbutton"></label>
  <div class="col-md-4">
    <button id="helpbutton" name="helpbutton" class="btn btn-primary">Help</button>
  </div>
</div>
</fieldset>

<fieldset>

<!-- Form Name -->
<legend>Diet</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Meat/Fish</label>  
  <td class="align-middle">per year</td>
  <div class="col-md-4">
  <input id="meat" name="meat" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Cereals/Bread</label> 
  <td class="align-middle">per year</td> 
  <div class="col-md-4">
  <input id="bread" name="bread" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Dairy</label>  
  <td class="align-middle">per year</td>
  <div class="col-md-4">
  <input id="dairy" name="dairy" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Fruits/Vegetables</label>
  <td class="align-middle">per year</td>  
  <div class="col-md-4">
  <input id="fruit" name="fruit" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Others</label>  
  <td class="align-middle">per year</td>
  <div class="col-md-4">
  <input id="other" name="other" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Help</button>
  </div>
</div>

</fieldset>


<fieldset>

<!-- Form Name -->
<legend>Miscellaneous</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Clothing </label> 
  <td class="align-middle">per month</td> 
  <div class="col-md-4">
  <input id="clothing" name="clothing" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Appliances/Furniture</label>  
  <td class="align-middle">per month</td>
  <div class="col-md-4">
  <input id="furniture" name="furniture" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">General Services</label> 
  <td class="align-middle">per month</td> 
  <div class="col-md-4">
  <input id="goods" name="goods" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Other</label> 
  <td class="align-middle">per month</td> 
  <div class="col-md-4">
  <input id="services" name="services" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="helpbutton"></label>
  <div class="col-md-4">
    <button id="helpbutton" name="helpbutton" class="btn btn-primary">Help</button>
  </div>
</div>
<!-- Button -->
<center><div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="survey-submit" name="" class="btn btn-primary">Submit</button></center>
  </div>
</div>
</fieldset>
</form>
