  <div class="panel panel-default">
    <div class="panel-heading text-center" id = "header-text2">So, what is YOUR Carbon Footprint</div>
    <div class="text-center"><img class="carbon_image" src="assets/images/userone.jpg"></div>
    <!--http://ib.bioninja.com.au/_Media/carbon-footprint_med.jpeg-->
    <div class="panel-body id-div"></div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading text-center" id = "header-text2">Survey Highlights and YOUR Impact</div>
    <div class="text-center"><img class="survey_image" src="assets/images/usertwo.jpg"></div>
    <!--http://product-management.com/wp-content/uploads/2014/01/product-management-survey.jpg-->
    <div class="panel-body id-div"></div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading text-center" id = "header-text2">Do you have electric vehicle charging stations in your area?</div>
    <div class="text-center"><img class="electric_image" src="assets/images/userthree.jpg"></div>
    <!--https://www.theassetguardian.com/wp-content/uploads/2017/02/TAG-CMMS-reducing-carbon-footprint.jpg-->
    <div class="panel-body id-div"></div>
      <div id = "charging-stations">
        {{#each chargingStations}}
          <li>
            
          </li>
        {{/each}}
        </div>
      </div>
       

  <div class="panel panel-default">
    <div class="panel-heading text-center" id = "header-text2">Energy prices in your state</div>
    <div class="text-center"><img class="prices_image" src="assets/images/userfour.png"></div>
    <!--http://files.clickweb.home.pl/homepl38135/image/69d42918b87981cd61bd0ecae48d91a4.png-->
    <div class="panel-body id-div"></div>
  </div>

</div>

<footer class="footer">
  <p>&copy; 2017</p>
  <p>Jay Patel, Vinay Kumar, Rebecca Renavitz, Amol Kamatmhamai</p>
</footer>



  <!--
  <div class = "container-fluid">
    <div class = "row">
      <div class="id-div">
        <h1 id = "header-text2">So, what is YOUR Carbon Footprint?</h1> 
        <div id = "carbon-image">  <img class="carbon_image" src="http://ib.bioninja.com.au/_Media/carbon-footprint_med.jpeg"></div>
      </div>
    </div>
  -->

<!--
    <div class = "row">
    <div class="id-div">
    <h1 id = "header-text2">Survey Highlights and YOUR Impact</h1>  
        <div id = "survey-image">  <img class="survey_image" src="http://product-management.com/wp-content/uploads/2014/01/product-management-survey.jpg"></div>
      </div>
    </div>
-->

<!--
    <div class = "row">
    <div class="id-div">
        <h1 id = "header-text2">Do you have electric vehicle charging stations in your area?</h1>
        <div id = "charging-stations">
        {{#each chargingStations}}
          <li>
            
          </li>
        {{/each}}
        </div>
        <div id = "electric-image">  <img class="electric_image" src="https://www.theassetguardian.com/wp-content/uploads/2017/02/TAG-CMMS-reducing-carbon-footprint.jpg"></div>
      </div>
    </div>

    <div class = "row">
    <div class="id-div">
        <h1 id = "header-text2">Energy prices in your state</h1>  
        <div id = "prices-image">  <img class="prices_image" src="http://files.clickweb.home.pl/homepl38135/image/69d42918b87981cd61bd0ecae48d91a4.png"></div>
      </div>
    </div>

