<div class = "container-fluid">
		<div class = "row">
			<div class="text-center">
				<h1 id = "header-text">Thank you for taking our survey!</h1>
					
			</div>
		</div>

<nav class="navbar navbar-inverse navbar-fixed-center" style="background-color:#004080" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" style="background-color:#004080">
          <li class="active" ><a href="/" style="background-color:#142952">Home</a></li>
          <li><a href="">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Register</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
          <div class="col-lg-12">
            <div class="text-center">
              <h3><b>Log In</b></h3>
            </div>
            <form id="ajax-login-form" style="width:300px;" action="http://phpoll.com/login/process" method="post" role="form" autocomplete="off">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-7">
                  <input type="checkbox" tabindex="3" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>
                <div class="col-xs-5 pull-right">
                  <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                </div>
              </div>
            </div>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

	<div class = "container-fluid">
		<div class = "row">
			<div class="id-div">
				<h1 id = "header-text2">So, what is YOUR Carbon Footprint?</h1>	
				<div id = "carbon-image">  <img class="carbon_image" src="http://ib.bioninja.com.au/_Media/carbon-footprint_med.jpeg"></div>
			</div>
		</div>

		<div class = "row">
		<div class="id-div">
		<h1 id = "header-text2">Survey Highlights and YOUR Impact</h1>	
				<div id = "survey-image">  <img class="survey_image" src="http://product-management.com/wp-content/uploads/2014/01/product-management-survey.jpg"></div>
			</div>
		</div>

		<div class = "row">
		<div class="id-div">
				<h1 id = "header-text2">Do you have electric vehicle charging stations in your area?</h1>
				<div id = "electric-image">  <img class="electric_image" src="https://www.theassetguardian.com/wp-content/uploads/2017/02/TAG-CMMS-reducing-carbon-footprint.jpg"></div>
			</div>
		</div>

		<div class = "row">
		<div class="id-div">
				<h1 id = "header-text2">Energy prices in your state</h1>	
				<div id = "prices-image">  <img class="prices_image" src="http://files.clickweb.home.pl/homepl38135/image/69d42918b87981cd61bd0ecae48d91a4.png"></div>
			</div>
		</div>